body {
  margin: 0;
  overflow: hidden;
}

@keyframes scrollLeft {
  100% { 
    transform: translateX(-200%)
  }
}

@-webkit-keyframes scrollLeft {
  100% { 
    -webkit-transform: translateX(-200%)
  }
}

.ocean-bg {
  background-image: url('../background-images/ocean-repeat.png');
  background-size: auto 100vh;
  background-repeat: repeat-x;
  transform: translate3d(0, 0, 0);
  animation: scrollLeft 1000s infinite linear;
  -webkit-animation: scrollLeft 1000s infinite linear;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.ocean-front {
  background: url('../background-images/seafloor.svg') bottom right;
  background-size: 100vw 70vh;
  background-repeat: repeat-x;
  transform: translate3d(0, 0, 0);
  animation: scrollLeft 300s infinite linear;
  -webkit-animation: scrollLeft 300s infinite linear;
  position: absolute;
  bottom: 0%;
  width: 100vw;
  height: 50%;
  z-index: -1;
}
