body {
  font-family: 'Changa', sans-serif;
  text-align: center;
  background: #fff;/*rgb(166, 221, 255, 0.8);*/
}

h1,h2,h3,h4 {
  margin: 0;
  color: rgb(1, 50, 81);
}
h3 {
  font-size: 1.8rem;
  font-weight: 500;
}
h4 {
  opacity: 0.8;
  font-weight: 300;
}
#didBetter {
  font-weight: 400;
}
#game-container {
  display: flex;
  justify-content: center;
}
#game {
  width: 60%;
  text-align: center;
}
#game h2 {
  margin: 2rem 0;
  font-size: 2rem;
}
#lose-container {
  color: rgb(1, 50, 81);
  font-size: 3vw;
  font-weight: 400;
  line-height: 5rem;
}
#streak-container {
  height: 5rem;
}
#streak-container img{
  width: 7rem;
}
.win,.lose {
  /* position: absolute; */
  text-transform: uppercase;
}

.win,.lose {
  position: relative;
  height: 0;
  overflow: hidden;
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
  color: green;
  transition-timing-function: ease;
  animation-fill-mode: forwards;
  animation: 1s;
  animation-name: score;
}
.lose {
  color: red;
}
@keyframes score {
  0% { 
  height: 15rem;
  transform: rotate(0deg);
  opacity: 0; font-size: 4vw; }
  20% { opacity: 1}
  30% { opacity: .5}
  50% { opacity: .1}
  100% { 
  height: 0;
  transform: rotate(-20deg);
  opacity: 0; font-size: 12vw; }
}
.choice {
  width: 15rem;
  margin: 0 1rem;
  height: 15rem;
  vertical-align: top;
  text-align: left;
  padding: 2rem;
  cursor: pointer;
  display: inline-block;
  border-radius: 1000px;
  transition: background-color 0.5s ease;
  font-family: 'Changa', sans-serif;
  background: rgba(166, 221, 255, 0.5);
  overflow: hidden;
}
.choice .body {
  height: 100%;
  display: flex;
  text-align: center;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: rgb(1, 50, 81);
}
.choice .name {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  user-select: none;
}
.choice .ticker {
  font-size: 1.5rem;
  font-weight: 500;
  user-select: none;
}
.choice:hover {
  background: #3FA9F5;
}
.choice:hover .body {
  color: rgb(240, 249, 255);
}
#stats-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
  margin-top: 2rem;
}

.hideBoxes {
  transition: 0.5s;
  transform: scale(0.5);
  opacity: 0;
  height: 0;
}

#choice-container {
  transition: 0.5s;
}

.stack-container, #game {
  float: left;
}
.stack-container {
  text-align: left;
  width: 20%;
}
.stack-container h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0.25rem;
}
.stack-container .header h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 800;
  color: #EEF;
  text-shadow:
       4px 4px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.stack {
  margin: 0;
  padding: 0;
}
.stack li {
  list-style: none;
  background: rgba(255,255,255,0.8);
  padding: 0.75rem;
  height: 10rem;
  width: 10rem;
  border-radius: 1000px;
  animation: fadein 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
li.dark {
  background: rgba(63, 169, 245, 0.8);
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.perf-container {
  float: left;
  width: 7rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 0px 0;
  height: 4rem;
  margin-right: 1rem;
  position: relative;
}
.perf-container .performance {
  position: absolute;
  bottom: 50%;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 800;
  color: #FFF;
  text-shadow:
     3px 3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  z-index: 10;
}
.fish, .waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.fish {
  background: url('../fish_100.png') center center;
  height: 70%;
  opacity: 0.5;
}
.waves {
  height: 40%;
  overflow: hidden;
  padding-top: 10px;
}
.ocean {
  background: #00a9ff;
  height: 100%;
}
.waves img {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
}

@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}
#timer {
  width: 35rem;
  height: 2rem;
  border-radius: 1rem;
  background: rgb(1, 50, 81);
  display: inline-block;
  overflow: hidden;
  position: relative;
}
#progress {
  width: 100%;
  height: 100%;
  background: #3FA9F5;
}
#counter { 
  position: absolute;
  top: 15px;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  width: 100%;
}
#whale-container {
  position: fixed;
  bottom: 0;
  right: 0;
  animation-fill-mode: forwards;
  animation: 20s;
  animation-name: whalemove;
  display: none;
}
@keyframes whalemove {
  0% { right: 0; }
  100% {  right: 100%; }
}

#whale { 
  width: 15vw ;
  animation: upDown .5s alternate infinite ease-in-out;
}
@keyframes upDown {
  to { transform: translatey(20px) scalex(0.97) rotate(5deg);}
}
.nextround #choice-container { 
  animation-fill-mode: forwards;
  animation: 4s;
  animation-name: nextround-cards;
}
.nextround #didBetter { 
  animation-fill-mode: forwards;
  animation: 4s;
  animation-name: nextround-title;
}
@keyframes nextround-cards {
  30%,75% { 
    opacity: 0.3}
  to { opacity: 1 }
}
@keyframes nextround-title {
  30%,75% { transform: translatey(-15rem) }
  to { transform: translatey(0px) }
}
#whale-speak {
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 5vw;
  right:15vw;
  padding: 1vw;
  min-width: 15vw;
  min-height: 5vw;
  color: #004E7D;
  font-size: 2.5vw;
  background: #a6ddff;
  border-radius: 2vw;
  text-align: center;
}
#term {
  display: block;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 800;
  line-height: 2rem;
}
