body {
  text-align: center;
  background: #fff;/*rgb(166, 221, 255, 0.8);*/
  font-family: 'Noto Sans', sans-serif;;
}

h1,h2,h3,h4 {
  margin: 0;
  color: #2E3192;
}
h3 {
  font-size: 1.8rem;
  font-weight: 500;
}
h4 {
  opacity: 0.8;
  font-weight: 300;
}
#game {
  width: 60%;
  text-align: center;
}
#game h2 {
  margin: 2rem 0;
  font-size: 2rem;
}
#streak-container {
  font-size: 5vw;
}
#win,#lose {
  position: absolute;
  text-transform: uppercase;
}

#win > div,.lose {
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
  color: green;
  transition-timing-function: ease;
  animation-fill-mode: forwards;
  animation: 1s;
  animation-name: logo;
}
.lose {
  color: red;
}
@keyframes logo {
  0% { 
  transform: rotate(0deg);
  opacity: 0; font-size: 4vw; }
  20% { opacity: 1}
  30% { opacity: .5}
  50% { opacity: .1}
  100% { 
  transform: rotate(-20deg);
  opacity: 0; font-size: 12vw; }
}
.choice {
  width: 15rem;
  margin: 0 1rem;
  height: 15rem;
  vertical-align: top;
  padding: 2rem;
  cursor: pointer;
  display: inline-block;
  border-radius: 1000px;
  transition: background-color 0.5s ease;
  background: rgba(166, 221, 255, 0.5);
  border: 2px solid transparent;
}
.choice .body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choice h3 {
  font-size: 3rem;
  font-weight: 700;
}
.choice h4 {
  font-size: 1.85rem;
}
.choice:hover {
  background: #3FA9F5;
  border: 2px solid #074674;
}
.choice:hover h3,
.choice:hover h4
{
  color: white;
}
.stack-container, #game {
  float: left;
}
.stack-container {
  text-align: left;
  width: 20%;
}
.stack-container h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0.25rem;
}
.stack-container .header h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 800;
  color: #EEF;
  text-shadow:
       4px 4px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.stack {
  margin: 0;
  padding: 0;
}
.stack li {
  list-style: none;
  background: rgba(255,255,255,0.8);
  padding: 0.75rem;
  height: 10rem;
  width: 10rem;
  border-radius: 1000px;
  animation: fadein 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
li.dark {
  background: rgba(63, 169, 245, 0.8);
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.perf-container {
  float: left;
  width: 7rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 0px 0;
  height: 4rem;
  margin-right: 1rem;
  position: relative;
}
.perf-container .performance {
  position: absolute;
  bottom: 50%;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 800;
  color: #FFF;
  text-shadow:
     3px 3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  z-index: 10;
}
.fish, .waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.fish {
  background: url('../fish_100.png') center center;
  height: 70%;
  opacity: 0.5;
}
.waves {
  height: 40%;
  overflow: hidden;
  padding-top: 10px;
}
.ocean {
  background: #00a9ff;
  height: 100%;
}
.waves img {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
}
circle {
  stroke: black;
  stroke-width: 4;
  stroke-dasharray: 250;
  stroke-dashoffset: 1000;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}
#timer {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}
#counter { 
  position: absolute;
  top: 15px;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  width: 100%;
}
#whale-container {
  position: fixed;
  bottom: 0;
  right: 0;
  animation-fill-mode: forwards;
  animation: 20s;
  animation-name: whalemove;
}
@keyframes whalemove {
  0% { right: 0; }
  100% {  right: 100%; }
}

#whale { 
  width: 15vw ;
  animation: upDown .5s alternate infinite ease-in-out;
}
@keyframes upDown {
  to { transform: translatey(20px) scalex(0.97) rotate(5deg);}
}
#whale-speak {
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 5vw;
  right:15vw;
  padding: 1vw;
  min-width: 15vw;
  min-height: 5vw;
  color: #004E7D;
  font-size: 2.5vw;
  background: #a6ddff;
  border-radius: 2vw;
  text-align: center;
}
