<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <title>Stockpile! The fun stock picking game</title>
    <link rel="stylesheet" href="css/background-style.css"> 
    <link rel="stylesheet" href="css/style.css"> 
  </head>
  <body>

    <div class="ocean-bg"></div>
    <div class="ocean-front"></div>
    <div id="game-container">

      <div id="game">
      <h2>Which stock do you think did better today?</h2>
      <div id=timer>
        <div id='counter'>
        </div>
      <svg height="100" width="100">
        <circle stroke-width="3" cx="50" cy="50" r="40" fill="none" />
      </svg>
      </div>
      <div id="choice-container">
      </div>
      <div id="streak-container"></div>
      <div id="win">
      </div>
      <div id="lose">
        <div id=lose-text></div>
        STARTING OVER!
      </div>
    </div>

    </div>
    <div id='whale-container'>
      <div id=whale-speak></div>
      <img id=whale src=whale.svg>
      
    </div>

    <div id='template'>
      <script id='t-choice' type='text/template'>
        <div class='choice' onclick="choose(<%= ix %>, 0)">
          <div class='body'>
          <h3><%= choice[0][1] %></h3>
          </div>
        </div>

        <div class='choice' onclick="choose(<%= ix %>, 1)">
          <div class='body'>
          <h3><%= choice[1][1] %></h3>
          </div>
        </div>
      </script>

      <script id='t-stack' type='text/template'>
        <li>
          <h3><%= item[1] %></h3>
        </li>
      </script>
      
      <script id='t-endgame' type='text/template'>
        <h3>Let's see how you did!</h3>
        <h2 class="performance final"></h2>
      </script>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src=https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js></script>
    <script src=js/evda.min.js></script>
    <script src=js/stockstack.js></script>

  </body>
</html>
